h3{
  margin:0;
  font-family: 'Kumbh Sans', sans-serif;
  color:#2D3248;
}

body{
  background-color:#00B6C7;
}


hr{
  transform:scaleX(3);
  border-style:solid;
  border-top: 0;
  border-color:#aaaaaa
}

span{
  color:#969696;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight:lighter;
  font-size:0.85rem;
}

.card{
  width:342px;
  height:400px;
  margin: 100px auto;
  background-color:white;
  border:2px solid #aaaaaa;
  border-radius:20px;
  box-shadow: 0 0 10px 5px;
  overflow:hidden;
}

.top{
  position:relative;
}

.profile_pic{
  position:absolute;
  left: 0;
  right: 0;
  top:100px;
  margin:0 auto;
  border:4px solid #ffff;
  border-radius:50%;

}

.bottom{
  text-align:center;
}

.info{
  display:inline-block;
  padding-top:20px;
  line-height: 0.5;

  /* width:340px; */
}

.name_age{
  margin-top:75px;
}
.name{
  display:inline-block;
}
.age{
  display:inline-block;
  margin-bottom: 0;
  transform: translateX(3px);
}
.place{
  margin-top: 0;
}
.followers{
  transform: translateX(-50px);
}
.pics{
  transform: translateX(50px);
}
